*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #659157;
    font-family: sans-serif;
}
hr{
    width: 90%;
    margin: auto;
}
#conteudo{
    margin: 240px auto;
    max-width: 340px;
    height: 100%;
    padding: 2%;
    background-color: #ffffff9d;
    border-radius: 0px 15px;
}
#conteudo>h1{
    text-align: center;
}

#res{
    padding-bottom: 5%;
    margin: auto;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
}

.calculo{
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.calculo>input{
    margin-bottom: 2%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 3px 4px 11px 0px black;
    text-align: center;
    background-color: #ffffff91;
    font-weight: bold
}

.botao{
    margin: 0 5% 0 8%;
    padding-bottom: 5%;
}

.botao>button{
    width: 18%;
    padding: 1%;
    height: 35px;
    border-radius: 5px;
    box-shadow: 3px 4px 11px 0px black;
    background-color: #A1C084;
    color: #000;
    font-weight: bolder;
    font-size: 15px;
}
/*#numeros{
    margin: 0 5% 0 8%;
    padding-bottom: 7%;
}
#numeros>button{
    width: 18%;
    padding: 1%;
    height: 35px;
    border-radius: 5px;
    box-shadow: 3px 4px 11px 0px black;
    background-color: #A1C084;
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 10px;
}*/